body {
   
    margin: 0;
    padding: 20px;
    background-color: #0A0A0A;
    position: relative;
}
h3 {
     font-family: Andale Mono, monospace;
     color: rgb(130, 1, 1);
}
p {
    font-family: courier, monospace;
    font-size: 16px;
}
#explanation {
    position: relative;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 250px;
    padding: 20px;
    background-color: #32269D;
    color: #fff;
    font-weight: bold;
    border-radius: 15px;
}
#explanation h3 {
    font-family: Andale Mono, monospace;
    color: rgb(130, 1, 1);
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: -1;
}