body {
   
    margin: 0;
    padding: 20px;
    background-color: #0A0A0A;
    position: relative;
}
h3 {
     font-family: Andale Mono, monospace;
     color: rgb(130, 1, 1);
}
p {
    font-family: courier, monospace;
    font-size: 16px;
}
#explanation {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 10px;
    background-color: #32269D
}